python-telegram-bot[ext]==22.4
huggingface_hub
python-dotenv
requests
Pillow
PyMuPDF
pymongo[srv]
motor
aiohttp
cryptography
aiohttp
cryptography
huggingface_hub
motor
Pillow
pymongo[srv]
PyMuPDF
python-dotenv
python-telegram-bot[ext]
requests